@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--臨時隱藏-->
    <p><img src="~/images/colorTree.png" style="max-width:90px;" /></p>
    <h1 class="display-4">Welcome AI GUARD</h1>
    <p class="h1 lead">
        Digital Video Recorder & Connecting Device Manager
    </p>
    <p><img src="~/images/Welcome-Design500px.png" /></p>
</div>
