@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<h1> TEST </h1>
<p>TEST.</p>
<p>TEST.</p>
<p>


    platFormUrl = "http://81XXXX.135:8080/";
    languageCode = "zh-HK";
    platFormPostAttDataApi= "/AttRecord/AddDeviceEntryOfNFCx";
    platFormGetDeviceInfoApi = "/Device/GetMainComBySerialNo";

    HIK SYNC
    /{0}/Device/AttendancePost

</p>
