<?xml version="1.0" encoding="utf-8"?>
<config>
	<local>
		<id>tr5AWV3XeM</id>
		<name>tr5AWV3XeM</name>
		<ip>192.168.238.1</ip>
		<capture>false</capture>
		<rtspPort>8090</rtspPort>
	</local>
	<log>
		<level>0</level>
		<upload>false</upload>
	</log>
	<aig>
		<url>http://81.71.74.135:5002</url>
		<user>admin</user>
		<password>0192023A7BBD73250516F069DF18B500</password>
	</aig>
	<record>
		<capture>
			<enable>false</enable>
			<gap>300</gap>
			<path>D:/media/capture</path>
		</capture>
		<path>D:/media/record</path>
		<filesize>536870912</filesize>
		<reserve>2147483648</reserve>
		<alarmSaveDay>30</alarmSaveDay>
		<items>
			<item>
				<id>1</id>
				<channel>0</channel>
				<stream>0</stream>
				<schedulers>
					<scheduler>
						<day>0</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>1</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>2</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>3</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>4</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>5</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
					<scheduler>
						<day>6</day>
						<enable>true</enable>
						<start>19000101T000000</start>
						<end>19000101T235959</end>
					</scheduler>
				</schedulers>
			</item>
		</items>
	</record>
	<db>
		<type>1</type>
		<ip>127.0.0.1</ip>
		<port>3306</port>
		<user>root</user>
		<pwd>root</pwd>
		<name>record</name>
	</db>
</config>
